.App {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.cursor {
    margin-left: 2px;
    cursor: pointer;
}

.cursor:hover {
    border: 1px solid beige;
}

.bg-header {
    background-color: #F8F9FA;
}

.altura {
    height: 238px;
}

.bg-little {
    padding: 1px;
    background: #F8F9FA;
}

.setheight {
    height: 500px;
    overflow: hidden;
}

.contain-slider {
    width: 100%;
    height: 100%;
    object-position: 100px 0;
}

.btn-samecolor {
    background: #e8eaed !important;
}

.imgnormalizada img {
    width: 100%;
    height: 500px;
    max-height: 500px;
}

.error-msg {
    color: red !important;
}